<% if notice %>
    <div id="notice_wrapper">
        <p class="alert alert-warning"><%= notice %></p>
    </div>
<% elsif alert %>
    <div id="notice_wrapper">
        <p class="alert alert-success"><%= alert %></p>
    </div>
<% end %>
<%= render 'header' %>

<section id="secrets">
    <div class="container">  
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <%= render 'form' %>
            </div>
        </div>                      
        <% @secrets.each do |secret| %>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="secret">
                        <p class="text-left">
                            <% if user_signed_in? %>
                                “<%= link_to secret.title, secret %>”
                            <% else %>
                                “<%= secret.title %>”
                            <% end %>
                        </p>
                        <!-- <p><%= secret.created_at %></p> -->
                        <p><%= secret.description %></p>
                        <p class="school text-muted text-right">
                            Shhh! <%= secret.sxoleio_id %>o  Geniko Sxoleio 
                            <%=  secret.created_at.strftime("%d %B %l:%M")  %> 
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
            <div class="row">
                <div class="col-lg-12 text-center">

                    <% @secrets = Secret.paginate(:per_page => 7, :page => params[:page] ) %>
                    <%= will_paginate @secrets, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0 %>

                </div>
            </div>
    </div>    
</section>                                                              
