<section id="comments"> 
  <div class="container">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="secret">
          <p><%= @secret.title %></p>
        </div>
        <%= render 'comments/form' %>


        <h4><%= @secret.comments.count %> Σχόλια</h4>
        <% @comments.each do |comment| %>
          <div>
            <div class="comment_view">
              <p><%= comment.sxolio %></p>
              <!-- <p class="text-right"><%= comment.created_at %></p> -->
            </div>

            <% if user_signed_in? %>
            	<p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
          </div>
        <% end %>
        <%= link_to 'Επιστροφή στα Ανομολόγητα', root_path %>


        <% if user_signed_in? %>
          <ul>
            <li>
              <%= link_to "edit", edit_secret_path(@secret) %>
            </li>
            <li>
              <%= link_to "Delete", secret_path(@secret), method: :delete, data: { confirm: "Are you sure" } %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>  

