<h1>
  <%= @secret.title %>
</h1>
<%= link_to "Home", root_path %>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>

    <br />
    <p><%= comment.sxolio %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>

<% if user_signed_in? %>
  <ul>
    <li>
      <%= link_to "edit", edit_secret_path(@secret) %>
    </li>
    <li>
      <%= link_to "Delete", secret_path(@secret), method: :delete, data: { confirm: "Are you sure" } %>
    </li>
  </ul>
<% end %>


