<!DOCTYPE html>
<html>
<head>
  <title>Mistiko App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
<% Sxoleio.all.each do |sxoleio| %>
  <%= link_to sxoleio.name, secrets_path(sxoleio: sxoleio.name), class: "btn btn-sm btn-primary" %>
<% end %>


            <!-- Collect the nav links, forms, and other content for toggling -->
              <% if user_signed_in? %>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <%= link_to "New Secret", new_secret_path %>
                  </li>
                  <li>
                    <%= link_to "Account", edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              <% end %>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>




<% if notice %>
	<div id="notice_wrapper">
		<p class="notice"><%= notice %></p>
	</div>
<% elsif alert %>
	<div id="notice_wrapper">
		<p class="alert"><%= alert %></p>
	</div>
<% end %>



<%= yield %>

</body>
</html>
