<!DOCTYPE html>
<html>
<head>
  <title>Mistiko App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>

    <%= yield %>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; mistiko.gr 2015
                    </div>
                </div>
            </div>
        </div>
    </footer> 

</body>
</html>
