<!DOCTYPE html>
<html>
<head>
  <title>Mistiko App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to "New Pin", new_secret_path %>
    </li>
    <li>
      <%= link_to "Account", edit_user_registration_path %>
    </li>
    <li>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
<% end %>


<% if notice %>
	<div id="notice_wrapper">
		<p class="notice"><%= notice %></p>
	</div>
<% elsif alert %>
	<div id="notice_wrapper">
		<p class="alert"><%= alert %></p>
	</div>
<% end %>

<% Sxoleio.all.each do |sxoleio| %>
  <%= link_to sxoleio.name, secrets_path(sxoleio: sxoleio.name), class: "btn btn-sm btn-default" %>
<% end %>

<%= yield %>

</body>
</html>
